.cart-background{
    background-image: url('../images/Boxed-Confetti.png');
    background-size:cover;
    height: 100vh;
}

.cart{
    background-color: rgba(0,0,0,.45);
    color: white;
    width: 40vmax;
    height: 40vmax;
    border-radius: 30px;
    margin: 0 auto;
}

.item-name{
    margin-left: 10%;
    margin-top: 2%;
}


.cart-image{
    width: 35%;
    height: 20%;
    border-radius: 25px;

}
.full-button{
    border: 1px solid;
    border-radius: 24px;
    width: 72px;
    text-align: center;
    align-items: center;
}

.button-sign{
    color: white;
}

.button-stuff{
    align-items: center;
}

.vl{
    border-left: 1px solid;
    padding: 0 5px 0 5px;
    height: 100%;
}

.vr{
    border-right: 1px solid;
    height: 100%;
}

.remove{
    color: red;
}

.details{
    padding-top: 5%;
    padding-left: 10%;
}

.total{
    margin: 0 5%;
    justify-content: space-between;
}

.disclaimer{
    margin: 0 5%;
    font-size: 50%;
}

.empty{
    text-align: center;
    padding-top: 5%;
}

@media (max-width: 1050px){

    .cart-background{
        background-image: none;
    }
    .cart{
        width: 40vmax;
        height: 40vmax;
    }
}

@media (max-width: 950px){
    .cart{
        width: 55vmax;
        height: 55vmax;
    }
}

@media (max-width: 800px){
    .cart{
        margin-top: 5%;
        width: 90vw;
        height: 90vw;
    }

    .full-button{
        width: 75px;
    }
}

/* @media (max-width: 600px){
    .cart{
        width: 35vmax;
        height: 35vmax;
    }
} */