.cart-background{
    background-image: url('../images/Boxed-Confetti.png');
    background-size:cover;
    height: 100vh;
}

.cart{
    background-color: rgba(0,0,0,.45);
    color: white;
    height: 60vh;
    width: 35vw;
    border-radius: 30px;
    margin: 0 35%;
}

.item-name{
    margin-left: 10%;
    margin-top: 2%;
}


.cart-image{
    width: 35%;
    height: 20%;
    border-radius: 25px;

}
.full-button{
    border: 1px solid;
    border-radius: 24px;
    width: 72px;
    text-align: center;
    align-items: center;
}

.button-sign{
    color: white;
}

.button-stuff{
    align-items: center;
}

.vl{
    border-left: 1px solid;
    padding: 0 5px 0 5px;
    height: 100%;
}

.vr{
    border-right: 1px solid;
    height: 100%;
}

.remove{
    color: red;
}

.details{
    padding-top: 5%;
    padding-left: 10%;
}

.total{
    margin: 0 5%;
    justify-content: space-between;
}

.disclaimer{
    margin: 0 5%;
    font-size: 50%;
}

.empty{
    text-align: center;
    padding-top: 5%;
}

