body{
    max-width: 100%;
    margin: 0;
}

.background{
    background: url('../images/Main.png') no-repeat;
    background-size: cover;
    width: 100vw;
    height: 95vmin;
}

.landing h2{
    font-size: 30px;
    font-weight: 300;
    color: #199DDB;
    margin: 6% 0 0 3vh;
}

.landing-blue-square{
    justify-content: flex-end;
    width: 100vw;
    height: 20vh;
}

.landing p{
    background-color: #199DDB;
    width: 40vw;
    height: 45%;
    margin: 5% 0 0 0;
    color: white;
    opacity: .85;
    padding: 2%;
}

.social-media{
    justify-content: space-between; 
    margin: 6% 0 0 0; 
}

.hashtag{
    font-size: calc(.6em + 1vmin);
    margin: 0 0 0 3vh;
    color: #404040;
    opacity: .85;
}

.social-media-icons{
    justify-content: space-around;
}

.social-media-icon{
    margin: 0 3vh 0 0;
    opacity: .5;
    height: 4vh;
}

@media (max-width: 850px){
    .social-media{
        visibility: hidden;
    }
}