.logo{
    font-size: calc(1.3rem + 1vmin);
    font-weight: 700;
    width: 10vw;
    margin: 3vh 0 0 3vh;
}

.nav{
    font-size: calc(.8rem + 1vmin);
    text-decoration: none;
    margin: 3vh 30%;
}

.nav-item{
    list-style: none;
    display: inline;
    padding-right: 60%;
}

.link{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.85);
}