.logo{
    font-size: 5vmin;
    font-weight: 700;
    margin: 3vh 0 0 3vh;
    width: 10vw;
}

.nav{
    justify-content: center;
    font-size: calc(.8rem + 1vmin);
    width: 80vw;
    margin: 3vh 0 0 0;
}

.nav-item{
    margin-right: 5%;
}

.link{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.85);
}

@media (max-width: 850px){
    .nav{
        justify-content: flex-end;
    }
}