.pledge{
    align-items: center;
}

.pledge-image{
    width: calc(60% + 5vmin);
    margin: 2%;
}

.pledge{
    text-align: center;
}

.pledge-merch-image{
    width: 40%;
    height: 50%;
    margin: 5%;
}

.pledge-merch{ 
    margin-top: 20%;
}

.paragraph{
    width: 50vw;
}

@media (max-width: 1000px){
    .paragraph{
        width: 70vw;;
    }
   }
