.header-about{
    text-align: center;
    margin: 5% auto;
    color: #199DDB;
    font-size: calc(1.5rem + 1vw);
    
}

.subheader-about{
    font-size: calc(1rem + 1vw);
    color: rgba(112, 112, 112, 0.85);
    margin: 3vh;
}

.facts{
    margin-top: 10%;
}

.why-paragraph{
    margin-left: 8%;
}

/* .blue-square{
    background-color: #199DDB;
    width: calc(20vw + 5vmin);
    height: calc(15vh + 7vmin);
    margin:0;
    color: white;
    opacity: .85;
    padding: 2%;
} */

.packaging{
    margin-top: 3%;
}

.fact-image{
    width: 25%;
    margin: 5% 35%;
}


.package-image{
    width: 30%;
    height: 10%;
    margin-left: 3vh;
    margin-top: 3vh;
}

